.creative {
  padding-top: 190px;
  min-height: 1015px;
  background-image: url('../img/creative/bg-1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include tablet {
    min-height: 700px;
    padding-top: 150px;
  }
  @include mobile {
    min-height: 500px;
    padding-top: 100px;
  }

  &__container {
    position: relative;
    grid-column: 7 span;
    @include small-tablet {
      grid-column: 2 span;
    }
    @include mobile {
      grid-column: 4 span;
    }
  }

  &__logos {
    position: absolute;
    padding-top: 60px;
    padding-left: 64px;
    padding-bottom: 54px;
    left: 0;
    bottom: -530px;
    width: 100vw;
    height: 227px;
    border-radius: 2px;
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    @include tablet {
      display: none;
    }
    &-wrapper {
      width: 1051px;
      justify-content: space-between;
      align-items: center;
      @include big-desktop {
        width: 900px;
      }
    }
  }

  &__item {
    border: 1px dashed var(--second-color);
    opacity: 0.63;
    transition: 0.3s ease-in-out;
    &:focus {
      outline: none;
    }
    @include hover {
      border-color: var(--active-color);
    }
    &:active {
      border-color: var(--active-color);
    }
  }
  .creative__item.focus-visible {
    outline: 1px solid var(--accent-color);
    border-color: var(--active-color);
  }
  &__title {
    margin: 0;
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    @include tablet {
      font-size: 50px;
      line-height: 60px;
    }
    @include small-tablet {
      font-size: 40px;
      line-height: 50px;
    }
    @include mobile {
      font-size: 25px;
      line-height: 35px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 22px;
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  &__descr {
    margin-bottom: 45px;
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  &__link {
    color: rgb(255, 215, 35);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 0px;
    text-decoration-line: underline;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      color: var(--active-color);
      text-decoration-line: none;
    }

    &:active {
      color: var(--light-color);
    }
  }
}

.creative__link.focus-visible {
  outline: 1px solid var(--accent-color);
  text-decoration: none;
}
