<section class="creative">
  <div class="container creative__container-logo grid">
    <div class="creative__container">
      <h2 class="creative__subtitle">
        A place where
      </h2>
      <h1 class="creative__title">
        A creative agency for redemptive brands
      </h1>
      <div class="creative__descr">
        Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
      </div>
      <a href="#" class="creative__link">
        Get in touch
      </a>

      <div class="creative__logos">
        <div class="creative__logos-wrapper flex">
          <div class="creative__item">
            <img src="img/logos/l-1.svg" alt="img">
          </div>
          <div class="creative__item">
            <img src="img/logos/l-2.svg" alt="img">
          </div>
          <div class="creative__item">
            <img src="img/logos/l-3.svg" alt="img">
          </div>
          <div class="creative__item">
            <img src="img/logos/l-4.svg" alt="img">
          </div>
          <div class="creative__item">
            <img src="img/logos/l-5.svg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
