<section class="trust">
  <div class="container grid trust__container">
    <div class="trust__block-left">
      <h2 class="trust__subtitle">
        What we do for you
      </h2>
      <h1 class="trust__title">
        Strategy. Design Content. Technology
        Development
      </h1>
      <div class="trust__descr">
        There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with
        a framework that fosters candid collaboration.
      </div>
      <a href="#" class="trust__link">
        More know About us
      </a>
    </div>

    <div class="trust__block-right">
      <div class="trust__text trust__block-right-mb">
        With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and
        Help Them Succeed
      </div>
      <div class="trust__block flex">
        <div class="trust__general">
          <h2 class="trust__title trust__block-right__title">
            Genevieve Rodriquez
          </h2>
          <h3 class="trust__subtitle trust__block-right__subtitle">
            Founder & CEO, Webovio
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
